@page "/counter"
@inject FetchDatasPage fetchDatasPage

<h1>Counter</h1>

<button class="btn btn-secondary" @onclick="NavigatetoFetchDataPage">MAUI navigation Fetch data page</button>

@code {
    async void NavigatetoFetchDataPage()
    {
        await App.Current.MainPage.Navigation.PushAsync(new FetchDatasPage());
    }
}
